*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* 0304 */

.links{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.links a{
    color: #FFFFFF;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: capitalize;
}

nav {
    width: 100%;
    min-height: 90px;
    
    transition: all 0.2s linear;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    color: #fff;
    max-height: 55px;
    position: relative;
    position: fixed;

}

.fa-bars-staggered {
    padding: 10px;
    background-color: transparent;
    border: none;
    display: none;
    font-size: 25px;
    color: #fff;
}



nav button img {
    width: 30px;
}


nav ul.links {
    width: 50%;
    align-items: center;
    justify-content: space-between;
    list-style: none;

}

.links {
    display: flex;
}

nav ul li {
    text-align: center;
}



#cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    
    gap: 30px;
    width: 100%;
    height: auto;
    padding: 20px 0;
}

nav ul a {
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    line-height: 50px;
}

nav ul button,
nav ul a,
nav ul i {
    color: #000000;
    text-align: center;
    font-weight: 900;

}

nav ul button {
    font-weight: 700;

}

.logo {
    font-size: 30px;
    color: #000000;
    font-weight: 900;
}
nav.sticky{
    transition: all 0.2s linear;
    background-color: #000;
    z-index: 9999;
}

@media only screen and (max-width:1074px) {
    .links {
        display: none;
    }

    .responsive {
        width: 40%;
        right: 0;
        display: flex;
        flex-direction: column;
        position: fixed;
        position: absolute;
        top: 100%;
        background-color: transparent;
        animation: leftfade 3s;
        overflow: hidden;
        background-color: #000000b8;

    }


    .responsive li {
        width: 100%;
        text-align: start;
        padding: 3px 20px;

    }

    .fa-bars-staggered {
        display: block;
        color: #FFFFFF;
        font-size: 30px;
    }


}

.logo  a{
    color: #fff;
}